.sales_section{
    background: #fff;
    border-radius: 8px;
    border:1px solid #F1F1F1;
    padding:12px;
    .sales_header{
        display: flex;
        justify-content: space-between;
        padding:12px 0;
        border-bottom:1px solid #F1F1F1;
        margin-bottom: 12px;
        .sales_title{
            font-size: 14px;
            color:#515153;
            font-weight: 600;
        }
    }
    .sales_mid{
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        .current_title{
            font-size: 24px;
            color:#031B15;
            font-weight: 700;
        }
        .current_text{
            font-size: 13px;
            font-weight: 400;
            color: #031B1599;

            span{
                display: block;
                color:#1D874F;
            }
        }
    }
}